@page "/login"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Login</h3>


<EditForm Model="@dto" OnValidSubmit="@Login">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Username:</label>
        <div>
            <InputText @bind-Value="@dto.Username" />
            <ValidationMessage For="@(() => dto.Username)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Password:</label>
            <div>
                <InputText @bind-Value="@dto.Password" />
                <ValidationMessage For="@(() => dto.Password)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {
    private string controllerRoute = "api/user";

    private LoginDto dto { get; set; } = new LoginDto();

    public string ButtonText { get; set; } = "Register";

    private async Task Login()
    {
        throw new NotImplementedException();

        await http.PostAsJsonAsync($"{controllerRoute}/login", dto);
        uriHelper.NavigateTo("product");
    }
}
